.MainDiv{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(107, 107, 107, .5);
}



.SignInParent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    background-color: rgb(224, 224, 224);
    margin-top: 20px;
    flex-wrap: wrap;
}

.SignInButtons{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-wrap: wrap;
    margin-top: 50px;
    height: 100px;
    width: 100px;
}

