.MainDiv{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(107, 107, 107, .5);
}


.MyAccount {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    background-color: #E0E0E0;
    margin-top: 75px;
    margin-bottom: 50px;
}

.InputsButtons{
    display: flex;
    justify-content: space-around;
    /* margin: 10px; */
    flex-wrap: wrap;
}

.AllFavGenres{
    display: flex;
    justify-content: space-around;
}

.Inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.Buttons {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    flex-wrap: wrap;
    margin-top: 60px;
}