.BackgroundImage{
    position: static;
    left: 0;
    right: 0;
    top: 0;
    height: 350px;
    background: linear-gradient(to bottom, #181818 37%, #FFFFFF 100%);
    /* background-color: rgb(36, 36, 36); */
    margin: -100px;
}


